/* 
    green: #003c00
    yellow: #ffff00
    red: #ff0000
    brown: #6f3d3d
    white: #fefeff
    black: #002000
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #fefeff;
    color: #002000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 2em;
}
h1, h2 {
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
a, a:visited {
    color: #000200;
    text-decoration: underline;
}
i {
    padding: 1.5em;
}

.header, .footer {
    background-color: #003c00;
    color: #fefeff;
    padding: 0.5em;
    text-align: left;
    width: 100%;
    font-size: 0.8em;
}
.header h1 {
    margin-left: 1em;
}
.header a {
    color: #fefeff;
}
.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.photo img {
    height: 50vh
}

.explanation {
    width: min(90vw, 800px);
}
.explanation h2 {
    font-size: 1.5em;
    color: #003c00;
}
.footer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
.red {
    color: #ff0000;
}
.yellow {
    color: #ffff00;
}
.brown {
    color: #6f3d3d;
}
.green {
    color: #003c00;
}

.footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.footer a, .footer a:visited {
    color: #ffff00;
}